In [3]:
import pandas as pd

In [7]:
file_name = "Zestawienie operacji za 01.01.2010 - 28.11.2025.csv"

In [9]:
df = pd.read_csv(file_name, encoding="latin2")

df.head()

,Data operacji,Data waluty,Typ transakcji,Kwota,Waluta,Opis transakcji,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,2025-11-28,2025-11-26,Płatnoć kartš,-31.00,PLN,Tytuł: 010061097 74169505330633307706340,Lokalizacja: Adres: OLLI S C Miasto: WARSZAWA ...,Data wykonania operacji: 2025-11-26,Oryginalna kwota operacji: 31.00,Numer karty: 425125******8930,NaN,NaN,NaN,NaN
1,2025-11-28,2025-11-26,Płatnoć kartš,-72.16,PLN,Tytuł: 010059127 74043215330148157931508,Lokalizacja: Adres: Apteka przy Domaniewskiej ...,Data wykonania operacji: 2025-11-26,Oryginalna kwota operacji: 72.16,Numer karty: 425125******8930,NaN,NaN,NaN,NaN
2,2025-11-28,2025-11-26,Płatnoć kartš,-50.22,PLN,Tytuł: 74988855330496415991685,Lokalizacja: Adres: JMP S.A. BIEDRONKA 7224 Mi...,Data wykonania operacji: 2025-11-26,Oryginalna kwota operacji: 50.22,Numer karty: 425125******8930,NaN,NaN,NaN,NaN
3,2025-11-27,2025-11-27,Przelew na konto,6281.91,PLN,Rachunek nadawcy :,06 1240 0030 1111 1111 1111 5990,Nazwa nadawcy: Bank PEKAO S.A. Żubra 1,Adres nadawcy: 01-066 Warszawa,Tytuł: Wynagrodzenie,NaN,NaN,NaN,NaN
4,2025-11-25,2025-11-23,Płatnoć kartš,-4.30,PLN,Tytuł: 000498849 74230785327180203293377,Lokalizacja: Adres: ZABKA Z5795 K.1 Miasto: SI...,Data wykonania operacji: 2025-11-23,Oryginalna kwota operacji: 4.30,Numer karty: 425125******8930,NaN,NaN,NaN,NaN